<div class="well">
  <h3>Year: {{event.Year}}</h3>
  <h3>Month {{event.Month}}</h3>
  <h3>Day {{event.Day}}</h3>
  <h3>SourceActorEntity {{event.SourceActorEntity}}</h3>
  <h3>TargetActorEntity {{event.TargetActorEntity}}</h3>
  <h3>EventRootCode {{event.EventRootCode}}</h3>
  <h3>GoldsteinScore {{event.GoldsteinScore}}</h3>
  <h3>Issues {{event.Issues}}</h3>
  <h3>Lat {{event.Lat}}</h3>
  <h3>Lon {{event.Lon}}</h3>
  <h3>URLs {{event.URLs}}</h3>
</div>
