<div class="well {{format-color event.GoldsteinScore}}">

  <h3 class="date">Date: {{event.Year}}/{{event.Month}}/{{event.Day}}</h3> <br><br><br>

  <div class="row">
    <div class="col-md-8">
      {{g-maps name="my map" lat=event.Lat lng=event.Lon zoom=4}}
    </div>
    <div class="col-md-4">
      <div class="panel eventDescription">
        <h3>Issues:</h3>
        <ul class="hideBullets">
          {{#each event.Issues as |issue|}}
          <li><h4>{{issue}}</h4></li>
          {{/each}}
        </ul>

        <h3>Countries Involved:</h3>
        <h3>{{event.SourceActorEntity}}</h3>
        <h3>{{event.TargetActorEntity}}</h3>
        <h3>Cameo Code: {{get-cameo event.EventRootCode}}</h3>
        <h3>Read more <a href={{event.URLs}}>here</a></h3>

      </div>

    </div>
  </div>

</div>
